{
    "endOfLine": "lf",
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "printWidth": 120,
    "tailwindConfig": "./tailwind.config.js",
    "trailingComma": "none",
    "arrowParens": "avoid"
}