{
    "endOfLine": "lf",
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "printWidth": 120,
    "tailwindConfig": "./tailwind.config.js",
    "trailingComma": "none",
    "arrowParens": "avoid",
    "wrapAttributes": "auto",
    "sortTailwindcssClasses": true,
    "sortHtmlAttributes": "none",
    "noPhpSyntaxCheck": false,
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "tabWidth": 4,
                "parser": "blade"
            }
        }
    ]
}