includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - config
        - routes
        - src
    excludePaths:
        - src/CodeRunnerServiceProvider.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true

    strictRules:
        allRules: false
        booleansInConditions: false
        uselessCast: false
        requireParentConstructorCall: false
        disallowedConstructs: false
        overwriteVariablesWithLoop: false
        closureUsesThis: false
        matchingInheritedMethodNames: false
        numericOperandsInArithmeticOperators: false
        strictCalls: false
        switchConditionsMatchingType: false
        noVariableVariables: false
